Source: python-vsphere
Section: python
Priority: extra
Maintainer: Gergely Erdelyi <ext-gergely.erdelyi@f-secure.com>
Build-Depends: cdbs, debhelper (>= 5), python (>=2.4), python-support (>= 0.5)

Package: python-vsphere
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources
Provides: ${python:Provides}
Description: pyvsphere is a simple python client for the VMware vSphere API
 pyvsphere is a simple python client for the VMware vSphere API